<form name="bookForm">
  <h2>Here you can add a new book:</h2>
  <div class="form-row">
    <md-input-container>
      <input mdInput name="name" [(ngModel)]="name" placeholder="Book name:">
    </md-input-container>
  </div>
  <div class="form-row">
    <md-input-container>
      <input mdInput name="price" [(ngModel)]="price" placeholder="Price:" type="number">
    </md-input-container>
  </div>
  <div class="form-row">

    <md-input-container>
      <input mdInput name="count" [(ngModel)]="count" placeholder="Book count:" type="number">
    </md-input-container>

  </div>
  <button md-raised-button (click)="addBook($event)" type="button">Add Book</button>
</form>
