<form name="bookForm" #bookForm="ngForm">
  <h2>Here you can add a new book:</h2>
  <div class="form-row">
    <md-input-container>
      <input required mdInput name="name" [(ngModel)]="book.name" placeholder="Book name:">
    </md-input-container>
  </div>
  <div class="form-row">
    <md-input-container>
      <input required mdInput name="price" [(ngModel)]="book.price" placeholder="Price:" type="number">
    </md-input-container>
  </div>
  <div class="form-row">

    <md-input-container>
      <input required mdInput name="count" [(ngModel)]="book.count" placeholder="Book count:" type="number">
    </md-input-container>

  </div>
  <button md-raised-button [disabled]="bookForm.invalid" (click)="addBook($event)" type="button">Add Book</button>
</form>
